---
import Stars from "../icons/Stars.astro";
---

<div
  class="hero flex items-center justify-center bg-[url('/assets/gymnastics.png')] bg-cover bg-center"
>
  <div class="overlay opacity-40 inset-0 bg-gray-600"></div>
  <div class="flex items-center py-36 lg:py-64">
    <Stars class="lg:w-20 lg:h-20"/>
    <h1 class="break-words text-center text-4xl lg:text-6xl font-bold text-white">
      Duhallow <br />Gymnastics
    </h1>
    <Stars class="lg:w-20 lg:h-20"/>
  </div>
</div>

<style>
  .hero {
    background: linear-gradient(rgba(51, 65, 85, 0.4), rgb(51, 65, 85, 0.4)), url("assets/gymnastics.png");  /* Chrome 10-25, Safari 5.1-6 */
    background-size: cover;
    background-position: center;
  }
  
</style>
