---
import Card from "./Card.astro";
import SectionHeading from "./SectionHeading.astro";
---

<section class="py-14 flex flex-col items-center lg:py-20">
  <SectionHeading text="What we do" class="text-dark" />
  <div class="grid gap-10 px-6 py-3 md:justify-center md:justify-items-center	 md: md:grid-cols-[repeat(auto-fit,_30%)]">
    <Card imageUrl="assets/trip.png" imageAlt="trip to paris" title="Camps">
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices. Fusce aliquet erat id arcu facilisis pharetra. Cras
        rutrum sapien vel lectus ultrices.
      </p>
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices.
      </p>
    </Card>
    <Card imageUrl="assets/trip.png" imageAlt="trip to paris" title="Camps">
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices. Fusce aliquet erat id arcu facilisis pharetra. Cras
        rutrum sapien vel lectus ultrices.
      </p>
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices.
      </p>
    </Card>
    <Card imageUrl="assets/trip.png" imageAlt="trip to paris" title="Camps">
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices. Fusce aliquet erat id arcu facilisis pharetra. Cras
        rutrum sapien vel lectus ultrices.
      </p>
      <p>
        Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel
        lectus ultrices.
      </p>
    </Card>
  </div>
</section>
<style>
  p {
    margin-bottom: 10px;
  }

</style>
