---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import { getCollection } from 'astro:content';

let allPosts = (await getCollection('news'));
const hasPosts = allPosts.length > 0;
---

<header class="bg-primary font-semibold text-white">
  <div class="flex justify-between px-6 py-4 text-lg items-center">
    <a class="text-2xl hover:underline" href="/">Duhallow Gymnastics</a>
    <nav
      id="nav-desktop"
      class="hidden lg:block"
    >
      <ul class="flex items-center gap-5">
        <li>
          <a class="block py-3 hover:underline" href="#membership">Membership</a>
        </li>
        {hasPosts && <li><a class="block py-3 hover:underline" href="/#news">News</a></li>}
        <li><a class="block py-3 hover:underline" href="/#info">What we do</a></li>
        <li>
          <a class="block py-3 hover:underline" href="/#location">Location</a>
        </li>
        <li>
          <a href="https://www.facebook.com/duhallowgym">
            <Facebook class="fill-white hover:fill-dark w-8 h-8" /></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/duhallowgymnasticsclub"><Instagram class="fill-white hover:fill-dark w-8 h-8" /></a>
        </li>
      </ul>
    </nav>
    <button id="toggle-menu" class="lg:hidden">
      <svg
        class="fill-white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        ><path fill="none" d="M0 0h24v24H0z"></path><path
          d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"></path></svg
      >
    </button>
  </div>
  <nav
    id="nav-mobile"
    class="fixed -right-full z-20 h-full w-full bg-primary px-6 transition-all -mt-1 pt-3 lg:hidden"
  >
    <ul>
      <li>
        <a class="text-3xl block py-3 hover:underline" href="#membership">Membership</a>
      </li>
      <li><a class="text-3xl block py-3 hover:underline" href="/#news">News</a></li>
      <li><a class="text-3xl block py-3 hover:underline" href="/#info">What we do</a></li>
      <li>
        <a class="text-3xl block py-3 hover:underline" href="/#location">Location</a>
      </li>
      <li class="mt-8">
        <p class="font-bold text-3xl">Follow Us</p>
        <div class="flex gap-2 py-2">
          <a href="https://www.facebook.com/duhallowgym"
            ><Facebook class="fill-white hover:fill-dark w-8 h-8" /></a
          >
          <a href="https://www.instagram.com/duhallowgymnasticsclub"
            ><Instagram class="fill-white hover:fill-dark w-8 h-8" /></a
          >
        </div>
      </li>
    </ul>
  </nav>
</header>
<script>
  const button = document.getElementById("toggle-menu");
  const nav = document.getElementById("nav-mobile");
  const body = document.querySelector("body");

  button?.addEventListener("click", () => {
    body && body.classList.toggle("overflow-hidden");
    nav && nav.classList.toggle("right-0");
  });

  const handleClick =
    (link: HTMLAnchorElement) =>
      link &&
      link.addEventListener("click", () => {
        nav && nav.classList.remove("right-0");
        body && body.classList.toggle("overflow-hidden");
      })


  const links = document.querySelectorAll<HTMLAnchorElement>("#nav li");
  const mobileLinks = document.querySelectorAll<HTMLAnchorElement>("#nav-mobile li");
  links.forEach(handleClick);
  mobileLinks.forEach(handleClick);
</script>
