---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
---

<header class="bg-primary font-semibold text-white">
  <div class="flex justify-between px-6 py-4 text-lg">
    <div class="text-xl">Duhallow Gymnastics</div>
    <button id="toggle-menu">
      <svg
        class="fill-white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        ><path fill="none" d="M0 0h24v24H0z"></path><path
          d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"></path></svg
      >
    </button>
  </div>
  <nav
    id="nav"
    class="fixed -right-full z-20 h-full w-full bg-primary px-6 transition-all -mt-1 pt-3"
  >
    <ul>
      <li>
        <a class="text-2xl block py-2 hover:underline" href="#membership">Membership</a>
      </li>
      <li><a class="text-2xl block py-2 hover:underline" href="#news">News</a></li>
      <li><a class="text-2xl block py-2 hover:underline" href="#info">What we do</a></li>
      <li>
        <a class="text-2xl block py-2 hover:underline" href="#location">Location</a>
      </li>
      <li class="mt-8">
        <p class="font-bold text-2xl">Follow Us</p>
        <div class="flex gap-2 py-2">
          <a href="https://www.facebook.com/duhallowgym"
            ><Facebook class="fill-white hover:fill-dark w-8 h-8" /></a
          >
          <a href="https://www.instagram.com/duhallowgymnasticsclub"
            ><Instagram class="fill-white hover:fill-dark w-8 h-8" /></a
          >
        </div>
      </li>
    </ul>
  </nav>
</header>
<script>
  const button = document.getElementById("toggle-menu");
  const nav = document.getElementById("nav");
  const body = document.querySelector("body");

  button?.addEventListener("click", () => {
    body && body.classList.toggle("overflow-hidden");
    nav && nav.classList.toggle("right-0");
  });
  const links = document.querySelectorAll("#nav li");
  links.forEach(
    (link) =>
      link &&
      link.addEventListener("click", () => {
        nav && nav.classList.remove("right-0");
        body && body.classList.toggle("overflow-hidden");
      })
  );
</script>
