---
import Stars from "../icons/Stars.astro";
import Cta from "./Cta.astro";
import Section from "./Section.astro";
import SectionHeading from "./SectionHeading.astro";
import { getCollection } from 'astro:content';

let allPosts = (await getCollection('news')).sort(
	(a, b) => b.data.pubDate - a.data.pubDate
).slice(0, 3);
---
{allPosts.length &&
<Section class="bg-zinc-800 py-12 flex flex-col items-center relative lg:text-dark lg:py-28">
  <div class="hidden lg:block absolute h-3 bg-primary w-full top-48">
  </div>
  <div class="relative bg-zinc-800 lg:bg-white rounded py-10 max-w-2xl">
    <Stars class="absolute top-2 right-full -translate-x-3 hidden lg:block" />
    <Stars class="absolute top-2 left-full translate-x-3 hidden lg:block" />
    <SectionHeading text="Latest News" id="news" />
    <div class="lg:px-16 px-6">
      <div class="flex flex-col items-start">
        {allPosts.map(({ data, slug }) => (
        <article class=" my-4">
          <h3 class="text-2xl font-semibold my-3">{data.title}</h3>
          <p>{data.description}</p>
          <Cta href={`news/${slug}`}>Read More</Cta>
        </article>
        ))}
      </div>
      <a class="text-lg hover:underline bold" href="/news">View all news <span>&#8594;</span></a>
    </div>

</div>
</Section>}
