---
import Stars from "../icons/Stars.astro";
import Cta from "./Cta.astro";
import Section from "./Section.astro";
import SectionHeading from "./SectionHeading.astro";
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories?sort_by=created_at:desc', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'newsPage',
})

const newsItems = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-US", {dateStyle: "full"}),
    description: story.content.description,
    slug: story.full_slug,
  }
})
---

<Section class="bg-zinc-800 py-12 flex flex-col items-center relative lg:text-dark lg:py-28">
  <div class="hidden lg:block absolute h-3 bg-primary w-full top-48">
  </div>
  <div class="relative bg-zinc-800 lg:bg-white rounded py-10 max-w-2xl">
    <Stars class="absolute top-2 right-full -translate-x-3 hidden lg:block" />
    <Stars class="absolute top-2 left-full translate-x-3 hidden lg:block" />
    <SectionHeading text="Latest News" id="news" />
    <div class="px-8 flex flex-col items-start">
      <article class="lg:px-8">
        <h3 class="text-2xl font-semibold my-3">Paris 2022</h3>
        <p>Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel lectus ultrices.  Fusce aliquet erat id arcu facilisis pharetra. Cras rutrum sapien vel lectus ultrices.</p>
        <Cta>Read More</Cta>
      </article>
    </div>
</div>
</Section>
