---
import Stars from "../icons/Stars.astro";

const {text, class: className, align, id} = Astro.props;

---
<div class={`flex items-center ${className} ${align === 'left' ? 'justify-start' : 'justify-center'}`}>
  <h2 id={id} class="mb-8 text-3xl lg:text-4xl font-semibold heading relative after:bg-primary">{text}
    <Stars class="absolute right-full top-0 mr-4" />
  </h2>
</div>


<style>
  .heading::after {
    display: block;
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 25%;
    border-radius: 50px;
  }

</style>
