---
import Stars from "../icons/Stars.astro";

const {text} = Astro.props;

---
<div class="flex items-center justify-center">
  <Stars />
  <h2 class="my-6 px-4 text-3xl font-semibold heading after:bg-primary">{text}</h2>
</div>

<style>
  .heading::after {
    display: block;
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 25%;
    border-radius: 50px;
  }

  .heading {
    position: relative;
  }
</style>
